.navflex-container {
    background: rgba(0,0,0,0.7);
    display: flex;
    position: fixed;
    z-index: -5;
    width: 100%;
    top:  0%;
}
.page1 {
    color:white;
    list-style: none;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Spartan', sans-serif;
    z-index: 4;
}
.page2 {
    color:white;
    list-style: none;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Spartan', sans-serif;
    z-index: 4
}

.page2div {
    padding:2%;
    text-align: center;
    width: 11%;
    z-index: -1;
}

.page1div{
    padding:2%;
    text-align: center;
    width: 11%;
    margin-left: 70%;
    z-index: -1;
}
.titlebox{
    text-align: none;
    padding: 0.4%;
    text-decoration: none;
    width: 13%;
    position: fixed;
    background-color: rgba(23,164,12,0.8);
   
}
.homepagelink {
    text-decoration: none;
}


h1 {
    text-align: center;
    color:white;
    position: relative;
    z-index: 5;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
}
body {
    margin: 0;
}

.page1div:hover, .page2div:hover, .titlebox:hover{
    background-color: rgba(191,191,191,0.7);
}
nav {
    position: fixed;
}